/*
Author: Ali Al-Khaz'Aly
Adapted from https://codepen.io/delroyprithvi/pen/LYyJROR
*/

.star span{
    position: absolute;
    top:50%;
    left:50%;
    width: 0.3em;
    height: 0.3em;
    background: #fff;
    border-radius: 60%;
    box-shadow: 0 0 0 0.25em rgba(255,255,255,0.1),0 0 0 0.5em rgba(255,255,255,0.1),0 0 1em rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
}
.star span::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5em;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

.star span:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}
.star span:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 6s;
}
.star span:nth-child(3){
    top: 80%;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 4s;
}
.star span:nth-child(4){
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 3s;
}
.star span:nth-child(5){
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 5s;
}
.star span:nth-child(6){
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 6s;
}
.star span:nth-child(7){
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 3.5s;
}
.star span:nth-child(8){
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 2.5s;
}
.star span:nth-child(9){
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 4.5s;
}
.star span:nth-child(9){
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 5.25s;
}
.star span:hover{
    background-color:red;
    box-shadow: 0 0 0 4px rgba(120, 62, 62, 0.1),0 0 0 8px rgba(140, 22, 22, 0.1),0 0 20px rgba(105, 16, 16, 0.1);
    /*width:10em;*/
    /*height:10em;*/
}
.star span:hover:before{
    background: linear-gradient(90deg, #ff0000,transparent);
}
