text{
    color:red;
}
.datadis
 {
     position: relative;
     display: flex;
     left: 50%;
     top: 100%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
    padding-top: 55%;
    flex:auto;
    justify-content: center;

 }

.tooltip
{
    white-space: pre-wrap;          /* For the tooltip newlines */
    position: absolute;
    text-align: center;
    pointer-events: none;
    color: white;

}